@import url('https://fonts.googleapis.com/css2?family=Charm');
@import url('https://fonts.googleapis.com/css2?family=Commissioner');

body {
    background-color: rgba(38, 38, 37, 1);
}

h1 {
    color: rgba(196, 152, 114, 1);
    font-size: 64px;
    text-align: center;
    font-family: 'Charm';
    font-weight: 100;
    display: inline-block;
}

h2 {
    color: rgba(217, 171, 126, 1);
    font-size: 40px;
    font-family: 'Charm';
}

p {
    color: rgba(217, 199, 184, 1);
    font-size: 20px;
    font-family: 'Comissioner';
}

a {
    color: rgba(217, 199, 184, 1);
    font-size: 24px;
}

nav {
    background-color: rgba(89, 21, 46, 1);
    height: 47px;
    text-align: center;
}

footer {
    background-color: rgba(89, 21, 46, 1);
    text-align: center;
    color: rgba(217, 199, 184, 1);
    height: 41px;
}

.container {
    display: inline-block;
    width: 70%;
    text-align: left;
    vertical-align: top;
}

.Logo {
    margin: 15px;
}